@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Opinion Pro';
	src: url('fonts/Mint Type - Opinion Pro Light.otf') format('opentype');
	font-style: normal;
	font-weight: bold;
}