@media (max-width: 480px) and (min-width: 321px) {
	header {
		padding: 0 7%;
		max-height: 78px;
		margin-bottom: 7%;
	}
	.logo {
		width: 47%;
	    height: 70%;
	    background-size: contain;
	    margin-top: 2%;
	}

	.right-menu {
		width: 35%;
	}

	.lang {
		margin-right: 43%;
	}

	.card-product {
		padding: 0 6%;
	}

	.breadcrumbs {
		flex-wrap: wrap;
		width: 80%;
		line-height: 23px;
		margin-bottom: 9%;
	}

	.breadcrumbs__item {
		margin-right: 3%;
	}

	.breadcrumbs__arrow {
		width: 12%;
	}

	.card-product__main-info {
		margin-bottom: 8%;
	}

	.card-product__specification {
		padding-top: 10%;
    	padding-left: 8%;
        max-height: 508px;
	}

	.card-product__title {
		font-family: 'Roboto';
	    font-weight: normal;
	    font-size: 26px;
	    margin-bottom: 6%;
	}

	.trademark {
		margin-bottom: 15%;
	}

	.card-product__description {
		width: 94%;
		margin-bottom: 9%;
	}

	.feedback-btn {
		width: 50%;
	}

	.card-product__main-img {
		max-height: 284px;
    	background-position: center;
	}

	.tags__action, .tags__new {
		top: 6%;
	    padding: 2% 6%;
	}

	.tags__action {
		left: 6%;
	}

	.tags__new {
		left: 38%;
	}

	.carousel {
		justify-content: center;
		margin: 0;
		margin-bottom: 17%;
	}

	.carousel__dots {
		width: 73%;
	}

	.card-product__subtitle {
		font-size: 24px;
		margin-bottom: 10%;
	}

	.product-characteristics__title {
		margin-bottom: 4%;
		width: 90%;
	}

	.product-characteristics__table > tbody > tr > td:nth-last-child(-n+1) {
		font-size: 15px;
		padding-left: 4%;

	}

	.product-characteristics__table > tbody > tr > td {
		padding: 4.6% 1%;
		line-height: 25px;
		width: 55%;
	}

	.product-characteristics__part1 {
		margin: 0;
	}

	.product-characteristics__item {
		padding: 5% 7% 1% 6%;
		margin-bottom: 14%;
	}

	.storage {
		padding: 6% 9% 9% 8%;
	    margin-bottom: 13%;
	}

	.composition {
		padding: 6% 9% 10% 8%;
		margin-bottom: 13%;
	}

	.product-characteristics__quote {
		margin-top: 10.5%;
	}

	.shell {
		padding: 5% 9% 10% 7%;
		margin-bottom: 12%
	}

	.nutritional-value > .product-characteristics__table > tbody > tr > td:nth-last-child(-n+1) {
		padding-left: 5%;
	}

	.nutritional-value {
		padding: 5% 7% 2% 6%;
	}


}