@media (max-width: 481px) {
	.card-product__section-name {
		display: none;
	}
}

@media (max-width: 768px) and (min-width: 481px) {
	
	header {
		padding: 2% 0% 1% 3%;
    	max-height: 64px;
        margin-bottom: 5%;
	}

	.logo {
		width: 29%;
    	height: 90%;
    	background-size: contain;
	}

	.right-menu {
		width: 26%;
	}

	.card-product {
		padding: 0 4.5%;
	}

	.breadcrumbs {
		flex-wrap: wrap;
	    width: 95%;
	    line-height: 20px;
	    margin-bottom: 7%;
	}

	.breadcrumbs__item:not(:first-child){
		margin-right: 3%;
	}

	.breadcrumbs__arrow {
		width: 5%;
	}

	.card-product__title {
		font-family: 'Roboto';
	    font-size: 26px;
	    font-weight: normal;
	}

	.card-product__specification {
		width: 100%;
		padding-left: 4%;
		max-height: 395px;
		padding-top: 6%;
	}

	.trademark {
    	margin-bottom: 9%;
	}

	.card-product__description {
	    width: 93%;
	    margin-bottom: 5.5%
	}

	.feedback-btn {
		width: 33%;
	}

	.card-product__main-img {
		max-height: 368px;
    	background-size: 100% 100%;
	}

	.tags__action, .tags__new {
		padding: 1.5% 4%;
		top: 4%;
	}
	.tags__action {
		left: 3%;
	}

	.tags__new {
		left: 24%;
	}

	.carousel__dots {
		width: 47%;
	}

	.carousel {
		justify-content: center;
    	width: 100%;
    	margin-bottom: 11%;
	}

	.card-product__main-info {
		margin-bottom: 6%;
	}

	.card-product__subtitle {
		font-size: 24px;
		font-weight: normal;
		margin-bottom: 6%;
	}

	.product-characteristics__title {
		margin-bottom: 2.5%;
	}

	.product-characteristics__item {
		width: 100%;
    	padding: 3% 3%;
    	margin-bottom: 7%;
	}

	.product-characteristics__table > tbody > tr > td:nth-last-child(-n+1) {
		padding-left: 13%;
		font-style: 15px;
	}

	.product-characteristics__table > tbody > tr > td {
		padding: 3% 1%;
	}

	.storage {
		padding: 3% 4%;
    	width: 98%;
    	padding-bottom: 6%;
    	margin-bottom: 9%;
	}

	.product-characteristics__quote {
		margin-top: 5.5%;
	}

	.composition {
		padding: 4% 4%;
		padding-bottom: 6%;
		margin-bottom: 8.5%;
		width: 92%;
	}

	.shell {
		width: 92%;
    	padding: 4%;
    	margin-bottom: 10%;
	}

	.nutritional-value {
		width: 94%;
		padding: 3%;
	}

	.nutritional-value > .product-characteristics__table > tbody > tr > td:nth-last-child(-n+1) {
		font-size: 15px;
		padding-left: 0;

	}

	.product-characteristics__table > tbody > tr > td {
		width: 62%;
	}

	.product-characteristics__table > tbody > tr > td:nth-last-child(-n+1) {
		padding-left: 0;
	}
	

}